<a href="https://colab.research.google.com/github/Ihssene-Brahimi/Data_Analysis_Univ/blob/main/ANAD_ANOVA_EXO8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [ ]:
# creating the dataframe 
# Age true for Age>50 -  faulse for Age<50
df = pd.DataFrame({'Age': [False, False, False, True, True, True],
                   'Responsabilité': ['Techicien', 'Cadre Inf', 'Cadre Sup', 'Techicien', 'Cadre Inf', 'Cadre Sup'],
                   'Stress': [15, 15.1667, 14.5000, 9.6667, 15.8333, 26.1667]
                   })
  
# displaying the dataframe
df

     Age Responsabilité   Stress
0  False      Techicien  15.0000
1  False      Cadre Inf  15.1667
2  False      Cadre Sup  14.5000
3   True      Techicien   9.6667
4   True      Cadre Inf  15.8333
5   True      Cadre Sup  26.1667

## Label Encoding

In [ ]:
df.Responsabilité=df.Responsabilité.map({'Techicien':0, 'Cadre Inf':1, 'Cadre Sup':2})
df.Age=df.Age.map({False:0, True:1})
df

   Age  Responsabilité   Stress
0    0               0  15.0000
1    0               1  15.1667
2    0               2  14.5000
3    1               0   9.6667
4    1               1  15.8333
5    1               2  26.1667

In [ ]:
dd1 = 1
dd2 = 2
dde = 2
ddt = 5
N = 6
K = 2
J = 3

In [ ]:
def ssw(col):
    mean = sum(col) / len(col)
    ssw = 0
    for i in range(len(col)):
        ssw += (col[i]-mean)**2
    return mean, ssw

In [ ]:
ssw_1=ssw(df.Age)
ssw_2=ssw(df.Responsabilité)
ssw_3=ssw(df.Stress)

In [ ]:
SSW = ssw_1[1] + ssw_2[1] +ssw_3[1]
SSW

152.9261296333333

We don't have the ages so the results are not correct

In [ ]:
Y=(sum(df.Age)+sum(df.Stress)+sum(df.Responsabilité))/N
Y

17.555566666666664

In [ ]:
SSB = N*((ssw_1[0]-Y)**2 + (ssw_2[0]-Y)**2 + (ssw_3[0]-Y)**2)
SSB

3403.3748518533325

In [ ]:
# creating the dataframe
df = pd.DataFrame({'EPS': [6, 10, 8, 9, 7],
                   'Didactique': [8, 12, 10, 10, 15],
                   'Statistique': [3, 4, 4, 5, 4]
                   })
  
# displaying the dataframe
df

   EPS  Didactique  Statistique
0    6           8            3
1   10          12            4
2    8          10            4
3    9          10            5
4    7          15            4

### Les étudiants préfèrent-ils certaines matières plus que d'autres?

# **One-Way ANOVA**

In [ ]:
Moy = pd.DataFrame({'Y1': [df.EPS.mean()],
                   'Y2': [df.Didactique.mean()],
                   'Y3': [df.Statistique.mean()]
                   })
Moy

    Y1    Y2   Y3
0  8.0  11.0  4.0

In [ ]:
N = 15
n = 5
k = 3

SSW

In [ ]:
def ssw(col):
    mean = sum(col) / len(col)
    ssw = 0
    for i in range(len(col)):
        ssw += (col[i]-mean)**2
    return mean, ssw

In [ ]:
ssw_1=ssw(df.EPS)
ssw_2=ssw(df.Didactique)
ssw_3=ssw(df.Statistique)

In [ ]:
SSW = ssw_1[1] + ssw_2[1] +ssw_3[1]
SSW

40.0

SSB

In [ ]:
Y=(sum(df.EPS)+sum(df.Didactique)+sum(df.Statistique))/N
Y

7.666666666666667

In [ ]:
SSB = n*((ssw_1[0]-Y)**2 + (ssw_2[0]-Y)**2 + (ssw_3[0]-Y)**2)
SSB

123.33333333333331

sst

In [ ]:
SST=SSB+SSW
SST

163.33333333333331

In [ ]:
dfb=k-1
dfw=n-k
dft=N-1

In [ ]:
MSB=SSB/dfb
MSW=SSW/dfw
MST=SST/dft

In [ ]:
F=MSB/MSW
F

3.083333333333333

In [ ]:
anova1 = pd.DataFrame({'Ddl':[dfb, dfw, dft],
                       'SS':[SSB, SSW, SST],
                       'MS':[MSB, MSW, MST],
                       'F':[F,'',''],
                       })
indexes=['Inter(B)','Intra(W)','Total(T)']
anova1.index=indexes
anova1.head()

          Ddl          SS         MS         F
Inter(B)    2  123.333333  61.666667  3.083333
Intra(W)    2   40.000000  20.000000
Total(T)   14  163.333333  11.666667

In [ ]:
st.f.ppf(q=1-.05, dfn=2, dfd=2)

18.999999999999982

ya pas deffet du type de la matiere sur la satisfaction des etudiant car F-score < F critical. (H0 accepted)